@model VHS.Services.Models.RmCreatePassword
@{
    Layout = null;
}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <!--[if IE]> <meta http-equiv="X-UA-Compatible" content="IE=edge"> <![endif]-->
    <title>Velvett Homestays</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="author" content="">
    <meta name="Description" content="" />
    <link href="~/Content/reset.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/contact.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/styles.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/flexslider.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/jquery.fancybox.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/magnific-popup.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/responsive-mobilefirst.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="http://fonts.googleapis.com/css?family=Lato:400,400italic,600" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,600,700" rel="stylesheet" type="text/css" />
</head>
<body>

    <section class="section">
        <div class="container clearfix centered">

            <div class="col-lg-12">
                <h3 class="header"><img class="logo" src="~/Images/logo.png" width="100" alt="velvett homestays" /></h3>

                <!--<p class="sub-heading"></p>-->
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container clearfix centered">
            <div class="col-lg-12">
                <h3 class="header">Create Account</h3>
                <div class="head-underline"> </div>
                <!--<p class="sub-heading"></p>-->
            </div>
        </div>

        <div class="container clearfix centered">
            <div class="col-lg-4 col-md-4 col-sm-12 aligncenter">
                @if (Model.IsLinkUsed == false)
                {
                    @*<p class="sub-heading"><span class="error-msg">some error occured</span></p>*@
                using (Html.BeginForm("RMConfirmation", "Account", FormMethod.Post, new { @class = "form-part" }))
                {
                    <label>Username</label>
                        @Html.TextBoxFor(m => m.EmailId)
                        <label>Password</label>
                        @Html.PasswordFor(m => m.Password)
                        <span style="color:red">
                            @Html.ValidationMessageFor(m => m.Password)
                        </span><br />
                        <label>Confirm Password</label>
                        @Html.PasswordFor(m => m.ConfirmPassword)
                        <span style="color:red">
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </span><br />
                        <div class="input-wrapper clearfix text-center">
                            @Html.HiddenFor(m => m.MailLinkId)
                            <input type="submit" class="send-btn" value="Submit" id="submit" name="Submit" />
                        </div>
                    }
                }
                else
                {
                    <p class="sub-heading"><span class="error-msg">This link has been expired</span></p>
                }
            </div>
        </div>
    </section>
    <footer>
        <div>
            <p> Copyright © 2016. All rights reserved. </p>
        </div>
    </footer>
    </div>
    <!-- end content -->
    <script src="@Url.Content(" ~/Scripts/jquery-1.11.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content(" ~/Scripts/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content(" ~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content(" ~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
    @*<script src="~/Scripts/jquery-1.11.2.min.js" type="text/javascript"></script>*@
    <script src="~/Scripts/jquery-easing-1.3.js" type="text/javascript"></script>
    <script src="~/Scripts/retina.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.touchSwipe.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.isotope2.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.ba-bbq.min.js" type="text/javascript"></script>
    <script src="~/Scripts/packery-mode.pkgd.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.isotope.load.js" type="text/javascript"></script>

    @*<script src="~/Scripts/bootstrap.min.js"></script>*@
    <script src="~/Scripts/main2.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.form.js" type="text/javascript"></script>
    <script src="~/Scripts/input.fields.js" type="text/javascript"></script>
    <script src="~/Scripts/preloader.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.fancybox.pack.js" type="text/javascript"></script>
    <script defer src="~/Scripts/jquery.flexslider-min.js"></script>
    <script src="~/Scripts/jquery.magnific-popup.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.fitvids.js" type="text/javascript"></script>
</body>
</html>