
@model VHS.Services.ViewModel.BookingConfirmation
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <title>Velvett Homestays</title>
</head>

<body>
    <p>Hello Admin!</p>
    <p>Woohoo! We have a property request.</p>
    <p>Please find the details below:</p>
    <table cellpadding="5" cellspacing="5" border="0">
        <tr>
            <td><b>Property Name: </b></td>
            <td>@Model.PropertyName</td>
        </tr>
        <tr>
            <td><b>Property ID: </b></td>
            <td>@Model.Property </td>
        </tr>
        <tr>
            <td><b>Check in : </b></td>
            <td>@Model.StartDate</td>
        </tr>
        <tr>
            <td><b>Check out : </b></td>
            <td>@Model.EndDate</td>
        </tr>
        <tr>
            <td><b>No. of Guests : </b></td>
            <td>@Model.GuestCount</td>
        </tr>
        <tr>
            <td><b>Name : </b></td>
            <td>@Model.UserName</td>
        </tr>
        <tr>
            <td><b>Contact No. : </b></td>
            <td>@Model.Mobile</td>
        </tr>
        <tr>
            <td><b>Email : </b></td>
            <td>@Model.Email</td>
        </tr>
        <tr>
            <td><b>Interests : </b></td>
            <td></td>
        </tr>
        <tr>
            <td><b>Notes : </b></td>
            <td></td>
        </tr>
        <tr>
            <td><b>Date to respond by : </b></td>
            <td></td>
        </tr>
        <tr>
            <td><b>RM Assigned : </b></td>
            <td>@Model.RmName </td>
        </tr>
    </table>
</body>
</html>