@model VHS.Services.Models.Property
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="section header-section dark bg-image-login">
    <div class="overlay"></div>
    <div class="container clearfix centered">
        <div class="col-lg-8 centered aligncenter">
            <div class="centralizing-wrapper">
                <div class="centralized-content">
                    <h1></h1>
                    <p class="uppercase"></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container clearfix centered">
        <div class="col-lg-12">
            <h3 class="header">List Your Property</h3>
			<div class="head-underline"></div>
			<p>Take a memorable journey with us.</p> 
			<p>As the homestay business continues to burgeon the world over, there are very few facilitators who make this experience as rewarding and seamless for both, 
			the end customer and the service provider. </p>
			<p>At Velvett Homestays, we don’t just bring consumers and home-owners together. We market and share information, while paying attention to those little details that 
			make for a holistic homestay experience. The vision after all, is to create a unique niche that combines excellence and authenticity. We welcome home-owners like yourself 
			you to be a part of this vision. Are you ready to belong? 
			</p>
            <p class="sub-heading"><span class="required">*</span>Mandatory fields</p>
        </div>
    </div>
    <div class="container clearfix centered">
        <div class="col-lg-5 col-md-5 col-sm-12 aligncenter">
            <p class="sub-heading"><span class="error-msg">@ViewBag.Message</span></p>
            @using (Html.BeginForm("Add", "Property", FormMethod.Post, new { @class = "form-part", enctype = "multipart/form-data" }))
            {
                <label>Title<span class="required">*</span></label>
                @Html.TextBoxFor(m => m.Title)
                <span style="color:red">
                    @Html.ValidationMessageFor(m => m.Title)
                </span><br />
                <label>Category<span class="required">*</span></label>
                @Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.Category, "Value", "Text"), "Select")
                <span style="color:red">@Html.ValidationMessageFor(m => m.CategoryId)</span><br />
                <label>Listed by<span class="required">*</span></label>
                @Html.DropDownListFor(m => m.ListById, new SelectList(Model.ListBy, "Value", "Text"), "None")
                <span style="color:red">@Html.ValidationMessageFor(m => m.CategoryId)</span><br />
                <label>No. of Guests<span class="required">*</span></label>
                    @Html.TextBoxFor(m => m.NoOfGuests)
                    <span style="color:red">
                        @Html.ValidationMessageFor(m => m.NoOfGuests)
                    </span><br />
                    <label>No. of Rooms<span class="required">*</span></label>
                    @Html.TextBoxFor(m => m.NoOfRooms)
                    <span style="color:red">
                        @Html.ValidationMessageFor(m => m.NoOfRooms)
                    </span><br />
                    <label>No. of Bathrooms<span class="required">*</span></label>
                    @Html.TextBoxFor(m => m.NoOfBathrooms)
                    <span style="color:red">
                        @Html.ValidationMessageFor(m => m.NoOfBathrooms)
                    </span><br />
                    <label>Address<span class="required">*</span></label>
                    @Html.TextAreaFor(m => m.Address)
                    <span style="color:red">
                        @Html.ValidationMessageFor(m => m.Address)
                    </span><br />
                    <label>City<span class="required">*</span></label>
                        @Html.TextBoxFor(m => m.City)
                        <span style="color:red">
                            @Html.ValidationMessageFor(m => m.City)
                        </span><br />
                        <label>Country<span class="required">*</span></label>
                            @Html.TextBoxFor(m => m.Country)
                            <span style="color:red">
                                @Html.ValidationMessageFor(m => m.Country)
                            </span><br />
                            <label>Zipcode</label>

                                @Html.TextBoxFor(m => m.ZipCode)
                                <span style="color:red">
                                    @Html.ValidationMessageFor(m => m.ZipCode)
                                </span><br />
                                <label>Email<span class="required">*</span></label>
                                    @Html.TextBoxFor(m => m.Email)
                                    <span style="color:red">
                                        @Html.ValidationMessageFor(m => m.Email)
                                    </span><br />
                                    <label>Contact No.<span class="required">*</span></label>
                                        @Html.TextBoxFor(m => m.ContactNo)
                                        <span style="color:red">
                                            @Html.ValidationMessageFor(m => m.ContactNo)
                                        </span><br />
                                        <label>Upload Property Images<span class="required">*</span><span class="error-msg">Maximum two images</span></label>
                                            @Html.TextBoxFor(m => m.Image, new { type = "file", multiple = "multiple" })
                                            <span style="color:red">
                                                @Html.ValidationMessageFor(m => m.Image)
                                            </span><br />
                                            @*<input id="file" type="file" name="file" />
                                                @Html.ValidationMessageFor(m => m.Image)*@
                                            <label>Price</label>
                                                @Html.TextBoxFor(m => m.Price)
                                                <span style="color:red">
                                                    @Html.ValidationMessageFor(m => m.Price)
                                                </span>
                                                <div class="input-wrapper clearfix text-center">
                                                    <input type="submit" class="send-btn" value="Submit" id="submit-property" name="submit-property" />
                                                    <input type="reset" class="send-btn" value="Reset" id="submit-property" name="submit-property" />
                                                </div>
            }
        </div>
    </div>

</section>
