@model VHS.Services.ViewModel.PropertyDisplayViewModel

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="section header-section-property dark">
    <div class="overlay"><img class="property-cover" src="/UploadFile/PropertyCoverPhoto/@Model.CoverImage"></div>
    <div class="container clearfix centered">
        <div class="col-lg-8 centered aligncenter">
            <div class="centralizing-wrapper-property">
                <div class="centralized-content">
                    <h1>@Model.Title</h1>
                    <p class="uppercase">@Model.City</p>
                </div>
            </div>
        </div>
    </div>
</section>





<section class="section2 bordered">
    <div class="container clearfix">
        <div id="container" class="no-bg">
            <article class="element clearfix col-lg-12 col-md-12 col-sm-12 col-xs-12 home">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <h3 class="title"><span class="property-id">VH@(Model.Id.ToString("D5"))</span>: @Model.Title</h3>
                    <p>
                        @Model.Desc
                    </p>
                    <p class="address"><b>Located in:</b> @Model.City, @Model.Country</p>
                    <div class="col-md-12 pull-left">
                        <div class="col-md-3 col-xs-6 text-center"><p class="intro-pik"><img class="intro-icons" src="/images/category.png" width="20" alt="Category" title="Category" /></p><p class="category"><b>@Model.Category</b></p></div>
                        <div class="col-md-3 col-xs-6 text-center"><p class="intro-pik"><img class="intro-icons" src="/images/price.png" width="20" alt="Price" title="Price" /></p><p class="price"><b>@Model.Price/-</b></p></div>
                        <div class="col-md-3 col-xs-6 text-center"><p class="intro-pik"><img class="intro-icons" src="/images/guest.png" width="20" alt="Guests" title="Guests" /></p><p class="guests"><b>Standard Occupancy 24</b></p></div>
                        <div class="col-md-3 col-xs-6 text-center"><p class="intro-pik"><img class="intro-icons" src="/images/star-rating.png" width="20" alt="Rating" title="Rating" /></p><p class="rating"><b>@Model.Rating</b></p></div>
                    </div>
                    <div class="clear"></div>

                    <div class="borderline"></div>
                    <p class="alignleft"><img class="social-share" src="/images/bg-share.png" width="20" alt="Share" title="Share" /></p>
                    <ul class="social-list alignleft">
                        <li> <a href="#"><i class="fa fa-twitter"></i></a> </li>
                        <li> <a href="#"><i class="fa fa-facebook"></i></a> </li>
                    </ul>
                    <p class="alignright"><img class="social-share" src="/images/wishlist.png" width="20" alt="Wishlist" title="Add to Wishlist" /></p>

                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 border-left-wrapper">

                   

                    @Html.Partial("_CheckAvalibilityProperty", Model.objPropertyBooking)
                </div>

                <div class="clear"></div>


            </article>

            <article class="element clearfix col-lg-12 col-md-12 col-sm-12 col-xs-12 home">

                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">

                    <h3>Gallery</h3>
                    <div class="head-underline-s"> </div>
                    @if (Model.GalaryImages != null)
                    {
                            <!--slider start-->

                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="15000">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                @for (int i = 0; i < Model.GalaryImages.Length; i++)
                                {

                                    <li data-target="#carousel-example-generic" data-slide-to="@i" @(i == 0 ? "class=active" : "")></li>
                                }
                            </ol>
                            <!-- Slider Content (Wrapper for slides )-->
                            <div class="carousel-inner">
                                @for (int i = 0; i < Model.GalaryImages.Length; i++)
                                {
                                    <div class="item @(i==0 ?"active" : "")">
                                        <p class=""><img src="/UploadFile/PropertyGallary/@Model.GalaryImages[i]" alt="" /></p>
                                        <!--<div class="carousel-caption">
                                        </div>-->
                                    </div>
                                }
                            </div>

                        </div>
						
						
                            <!--slider end-->
                    }
                </div>



                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 border-left-wrapper">

                    <h3>Important Information</h3>
                    <div class="head-underline-s"> </div>
                    <table class="table-responsive col-md-12">
                        <tr>
                            <td class="col-md-8 am-pad">Check-in Time : </td>
                            <td><span class="sm-txt">@Model.CheckIn</span></td>
                        </tr>
                        <tr>
                            <td class="col-md-8 am-pad">Check-out Time : </td>
                            <td><span class="sm-txt">@Model.CheckOut</span></td>
                        </tr>
                        <tr>
                            <td class="col-md-8 am-pad">Guests per Bedroom : </td>
                            <td><span class="sm-txt">@Model.PersonPerRoom</span></td>
                        </tr>
                        <tr>
                            <td class="col-md-8 am-pad">Max. Guest Occupancy of Property: </td>
                            <td><span class="sm-txt" id="maxGuest">@Model.MaxGuestCount</span></td>
                        </tr>
                        <tr>
                            <td class="col-md-8 am-pad">Extra per person cost (Adult) : </td>
                            <td><span class="sm-txt"  id="pricePerAdult">@Model.PricePerAdult</span></td>
                        </tr>
                        <tr>
                            <td class="col-md-8 am-pad">Extra per person cost (Child) : </td>
                            <td><span class="sm-txt"  id="pricePerChile">@Model.PricePerChild</span></td>
                        </tr>
                        <tr>
                            <td class="col-md-8 am-pad">Pets Allowed : </td>
                            <td><span class="sm-txt">@Model.IsPetAllowed</span></td>
                        </tr>
                        <tr>
                            <td class="col-md-8 am-pad">Drinking Allowed : </td>
                            <td><span class="sm-txt">@Model.IsDrinkingAllowed</span></td>
                        </tr>
                        <tr>
                            <td class="col-md-8 am-pad">Smoking Allowed : </td>
                            <td><span class="sm-txt">@Model.IsSmokingAllowed</span></td>
                        </tr>
                        <tr>
                            <td class="col-md-8 am-pad">Family/Kid Friendly : </td>
                            <td><span class="sm-txt">@Model.IsFamilyKidFriendly</span></td>
                        </tr>
                        <tr>
                            <td class="col-md-8 am-pad">Wheelchair Accessible : </td>
                            <td><span class="sm-txt">@Model.IsWheelchairAccessible</span></td>
                        </tr>
                        <tr>
                            <td class="col-md-8 am-pad">Parking : </td>
                            <td><span class="sm-txt">@(Model.Parking != null ? string.Join(", ", Model.Parking) : string.Empty)</span></td>
                        </tr>

                    </table>

                </div>

                <div class="clear"></div>


            </article>

        </div>
    </div>

    <div class="container clearfix">

        <div id="" class="no-bg">

            <div class="col-lg-8 col-md-8 col-sm-8">




                <article class="element clearfix">
                    <h3>Amenities</h3>
                    <div class="head-underline-s"> </div>
                    <table class="table-responsive col-md-12">
                        <tr>
                            <td class="col-md-4 am-pad"><b>General:</b><br /> <span class="sm-txt">@(Model.General != null ? string.Join(", ", Model.General) : string.Empty)</span></td>
                            <td class="col-md-4 am-pad"><b>Sleeping Arrangments:</b><br /> <span class="sm-txt">@(Model.SleepingArrangments != null ? string.Join(", ", Model.SleepingArrangments) : string.Empty)</span></td>
                            <td class="col-md-4 am-pad"><b>Bathroom(s):</b><br /> <span class="sm-txt">@(Model.Bathroom != null ? string.Join(", ", Model.Bathroom) : string.Empty)</span></td>
                        </tr>
                        <tr>
                            <td class="col-md-4 am-pad"><b>Kitchen:</b><br /> <span class="sm-txt">@(Model.Kitchen != null ? string.Join(", ", Model.Kitchen) : string.Empty)</span></td>
                            <td class="col-md-4 am-pad"><b>Entertainment & Electronics:</b><br /> <span class="sm-txt">@(Model.EntertainmentElectronic != null ? string.Join(", ", Model.EntertainmentElectronic) : string.Empty)</span></td>
                            <td class="col-md-4 am-pad"><b>Outdoor Facilities:</b><br /> <span class="sm-txt">@(Model.Outdoor != null ? string.Join(", ", Model.Outdoor) : string.Empty)</span></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                    </table>

                </article>


                @*<article class="element clearfix">
                     <h3>Location Map</h3>
                     <div class="head-underline-s"> </div>
                     <div id="dvMap" style="width: 500px; height: 500px">
                     </div>
                    <img class="property-map" src="/images/map.jpg" id="dvMap"/>
                                </article>*@

                @*<article class="element clearfix">

                        <h3>Reviews</h3>
                        <div class="head-underline-s"> </div>
                        <blockquote class="clearfix centered">
                            <div class="borderline"></div>
                            <div class="questionmark">&rdquo;</div>
                            <p>Our expectations were absolutely surpassed. We are so glad we chose Peekskill for our new project.</p>
                            <p class="small">John Doe</p>
                            <p class="ratings">
                                <img class="star" src="/images/star.png" width="15" alt="star" />
                                <img class="star" src="/images/star.png" width="15" alt="star" />
                                <img class="star" src="/images/star.png" width="15" alt="star" />
                                <img class="star" src="/images/star.png" width="15" alt="star" />
                                <img class="star" src="/images/star.png" width="15" alt="star" />
                            </p>
                            <div class="borderline"></div>
                        </blockquote>
                        <div class="review">
                            <p class="add-rating text-center">Rate & Review</p>
                            <form class="form-part" id="" action="" method="">
                                <div class="input-wrapper clearfix">
                                    <label>
                                        Rate this<br>
                                        <div class="add-star-rating"></div>
                                        <div class="add-star-rating"></div>
                                        <div class="add-star-rating"></div>
                                        <div class="add-star-rating"></div>
                                        <div class="add-star-rating"></div>
                                    </label>
                                </div>
                                <label>Write Review</label>
                                <textarea></textarea>
                                <div class="input-wrapper clearfix">
                                    <input class="send-btn" type="submit" name="" value="Submit" />
                                    <input type="reset" class="send-btn" value="Reset" id="" name="">
                                </div>
                            </form>
                            </p>

                    </article>*@

            </div>


            <div class="col-lg-4 col-md-4 col-sm-4">

            </div>
        </div>
    </div>
</section>

<section class="section2 bordered">
    <div class="container clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3>Recommended by us</h3>
            <div class="head-underline-s"> </div>
            <article class="element clearfix">
                <div class="col-md-3">
                    <p><img src="/images/3.jpg" /></p>
                    <h5>Property 1</h5>
                </div>
                <div class="col-md-3">
                    <p><img src="/images/02.jpg" /></p>
                    <h5>Property 2</h5>
                </div>
                <div class="col-md-3">
                    <p><img src="/images/5.jpg" /></p>
                    <h5>Property 3</h5>
                </div>
                <div class="col-md-3">
                    <p><img src="/images/13.jpg" /></p>
                    <h5>Property 4</h5>
                </div>
            </article>
        </div>

    </div>
</section>




@section scripts{

    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var LatLng = new google.maps.LatLng("19.128662", "72.862866");
            var mapOptions = {
                center: LatLng,
                zoom: 13,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);
            var marker = new google.maps.Marker({
                position: LatLng,
                map: map,
                title: "<div style = 'height:60px;width:200px'><b>Your location:</b><br />Latitude: " + p.coords.latitude + "<br />Longitude: " + p.coords.longitude
            });
            google.maps.event.addListener(marker, "click", function (e) {
                var infoWindow = new google.maps.InfoWindow();
                infoWindow.setContent(marker.title);
                infoWindow.open(map, marker);
            });
        })
    </script>

}

