@model IEnumerable<VHS.Services.ViewModel.PropertyDisplayViewModel>

@{
    ViewBag.Title = "ListedProperty";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var PropertyFrom = ViewBag.PropertyFrom != null ? ViewBag.PropertyFrom : string.Empty;
    string ActionName = "";
    if (PropertyFrom == "Spain") { ActionName = "ListedSpainProperty"; }
    else if (PropertyFrom == "India") { ActionName = "ListedIndianProperty"; }
    else { ActionName = "ListedProperty"; }
}
<section class="section header-section dark">
    <div class="overlay">
        @if (PropertyFrom == "Spain")
        {
            <img class="property-cover" src="/images/spain.jpg" />
        }
        else
        {
            <img class="property-cover" src="/images/bg1.jpg" />
        }
    </div>
    <div class="container clearfix">
        <div class="col-lg-6 centered aligncenter">
            <div class="centralizing-wrapper">
                <div class="centralized-content">
                    <h1>Don't just visit. <span style="color:#f06eaa">Belong.</span></h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section2 bordered">
    <div class="container clearfix">
        <div class="row">
            @if (!string.IsNullOrEmpty(PropertyFrom))
            {
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @if (PropertyFrom == "Spain")
                    {
                        <article class="element clearfix">
                            <h3>Spain Homestays</h3>
                            <div class="head-underline-s"> </div>
                            <p>
                                The Mediterranean Coast of Spain is so stunning that one cannot help but fall in love with it. We did.
                            </p>
                            <p>
                                To make your experience as memorable and exciting we have curated a select set of Homestays that will meet your discerning eye.
                                And we are continuously adding to our range of Homestays.
                            </p>
                        </article>
                    }
                    else if (PropertyFrom == "India")
                    {
                        <article class="element clearfix">
                            <h3>Konkan Homestays, India</h3>
                            <div class="head-underline-s"> </div>
                            <p>
                                The Konkan stretch running south from Mumbai all the way to Goa offers some amazing postcard beaches, fishing villages, and a series of
                                serene hill stations. Travelling and staying through this stretch is an enriching experience.
                            </p>
                            <p>
                                We have curated and are continuously on the lookout for a select set of Homestays in Mumbai, Goa, Alibaug, Khandala, Lonavala, Karla, Mahabaleshwar,
                                Panchgani, Ganpatiphule, and more.
                            </p>
                        </article>
                    }
                </div>
            }


            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 myfilters">
                <div class="filters-main">
                    @using (Html.BeginForm(ActionName, "Property", FormMethod.Get, new { @class = "form-part", id = "" }))
                    {
                        <label class="sm-label-filter">Category</label>
                        <select class="sm-input myselect" id="Category" name="Category">
                            <option value="0">Select</option>
                            <option value="1">Apartment</option>
                            <option value="2">Beach House</option>
                            <option value="3">Boat House</option>
                            <option value="4">Farmhouse</option>
                            <option value="5">Private Room</option>
                            <option value="6">Villa</option>
                            <option value="7">Other</option>
                        </select>
                        @*<label class="sm-label-filter">Bedrooms</label>
                        <select class="sm-input myselect">
                            <option value="0">Select</option>
                            <option value="yes">1</option>
                            <option value="yes">2</option>
                            <option value="yes">3</option>
                            <option value="yes">4</option>
                            <option value="yes">5</option>
                            <option value="yes">More than 5</option>
                        </select>*@
                        <input type="text" name="Query" id="Query" placeholder="Search" style="width: 170px;height: 36px;" />
                        <button class="btn-primary">Apply</button>
                    }
                    
                </div>
                @*<div class="sort-by">
                    <form class="form-part" id="" method="post" action="">
                        <label class="sm-label-filter">Sort by Price</label>
                        <select class="sm-input myselect">
                            <option value="0">Select</option>
                            <option value="yes">High to Low</option>
                            <option value="yes">Low to High</option>
                        </select>
                    </form>
                </div>*@
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <article class="element clearfix">

                @foreach (var property in Model)
                {
                    <a href="/Property/Detail/@property.Id">
                        <div class="property-thumb">
                            <p class="property-thumb-img">
                                <img src="~/UploadFile/PropertyCoverPhoto/@property.CoverImage" />
                                <div class="property-price-box">
                                    <span class="property-price-currency">
                                    @if (property.RegionId == 2) { <text>&euro;</text> }
                                    else { <text>&#8377;</text>}
                                    </span><span class="property-price">@property.Price/-</span>
                                </div>
                            </p>
                            <h3 class="property-thumb-title"><span class="property-id">VH@(property.Id.ToString("D5"))</span>: @property.Title</h3>
                            <p class="property-thumb-info">
                                <span class="property-category">@property.Category</span>
                                <span class="property-rooms">@property.PersonPerRoom Bedrooms</span>
                                <span class="property-guests">@property.GuestCount Guests</span>
                                <span class="property-rating">
                                    <img class="rated-star" src="/images/starp.png" width="15" alt="star" />
                                    <img class="rated-star" src="/images/starp.png" width="15" alt="star" />
                                    <img class="rated-star" src="/images/starp.png" width="15" alt="star" />
                                    @switch (property.Rating)
                                    {
                                        case "2":
                                            <img class="rated-star" src="~/images/halfstar.png" width="15" alt="star" />
                                            break;
                                        case "3":
                                            <img class="rated-star" src="~/images/starp.png" width="15" alt="star" />
                                            break;
                                        case "4":
                                            <img class="rated-star" src="~/images/starp.png" width="15" alt="star" />
                                            <img class="rated-star" src="~/images/halfstar.png" width="15" alt="star" />
                                            break;
                                        case "5":
                                            <img class="rated-star" src="~/images/starp.png" width="15" alt="star" />
                                            <img class="rated-star" src="~/images/starp.png" width="15" alt="star" />
                                            break;
                                        default:
                                            break;
                                    }
                                </span>
                            </p>
                        </div>
                    </a>
                }



            </article>
        </div>

    </div>
</section>

