@model IEnumerable<VHS.Services.ViewModel.PropertyDisplayViewModel>

@{
    ViewBag.Title = "ListedProperty";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var PropertyFrom = ViewBag.PropertyFrom != null ? ViewBag.PropertyFrom : string.Empty;
    string ActionName = "";
    int regionId = 0;
    if (PropertyFrom == "Spain") { ActionName = "ListedSpainProperty"; regionId = 2; }
    else if (PropertyFrom == "India") { ActionName = "ListedIndianProperty"; regionId = 1; }
    else { ActionName = "ListedProperty"; }
}


<section class="section header-section dark">
    <div class="overlay">
        @if (PropertyFrom == "Spain")
        {
            <img class="property-cover" src="/images/spain.jpg" />
        }
        else
        {
            <img class="property-cover" src="/images/bg1.jpg" />
        }
    </div>
    <div class="container clearfix">
        <div class="col-lg-6 centered aligncenter">
            <div class="centralizing-wrapper">
                <div class="centralized-content">
                    <h1>Don't just visit. <span style="color:#f06eaa">Belong.</span></h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section2 bordered">
    <div class="container clearfix">
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                @if (!string.IsNullOrEmpty(PropertyFrom))
                {
                    if (PropertyFrom == "Spain")
                    {
                        <article class="element clearfix">
                            <h3>Spain Homestays</h3>
                            <div class="head-underline-s"> </div>
                            <p>
                                The Mediterranean Coast of Spain is so stunning that one cannot help but fall in love with it. We did.
                            </p>
                            <p>
                                To make your experience as memorable and exciting we have curated a select set of Homestays that will meet your discerning eye.
                                And we are continuously adding to our range of Homestays.
                            </p>
                        </article>
                    }
                    else if (PropertyFrom == "India")
                    {
                        <article class="element clearfix">
                            <h3>Konkan Homestays, India</h3>
                            <div class="head-underline-s"> </div>
                            <p>
                                The Konkan stretch running south from Mumbai all the way to Goa offers some amazing postcard beaches, fishing villages, and a series of
                                serene hill stations. Travelling and staying through this stretch is an enriching experience.
                            </p>
                            <p>
                                We have curated and are continuously on the lookout for a select set of Homestays in Mumbai, Goa, Alibaug, Khandala, Lonavala, Karla, Mahabaleshwar,
                                Panchgani, Ganpatiphule, and more.
                            </p>
                        </article>
                    }


                }

                else
                {
                    <article class="element clearfix">
                        <p>
                            Planning your next holiday? We’ll take you on a journey that helps you discover as much about yourself, as it does a unique new destination.
                            You see, a Homestay offers you a memorable getaway, without packing in expensive accommodation costs. All, while allowing you to unearth local culture, cuisine and traditions in a manner thats immersive as it is enriching.
                        </p>
                        <p>
                            At Velvett Homestays, we herald a growing number of people who want their travels to be less invasive and more beneficial to the local communities they engage with.
                            And we cant wait to welcome you to this ever evolving band of tourists who go beyond the ordinary. Are you ready to belong?
                        </p>
                        <p><br></p>
                    </article>
                    @*<p>
                        </p><ol class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li><a href="#" class="active">Listed Properties</a></li>
                        </ol>
                        <p></p>*@
                }
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 myfilters">

                <div class="filters-main">
                    @using (Html.BeginForm(ActionName, "Property", FormMethod.Get, new { @class = "form-part", id = "" }))
                    {
                        <div class="search-box">

                            <div class="full-label">
                                <div class="property-input">
                                    <label class="sm-label-filter">Property ID</label>
                                    <input class="place myselect" type="text" size="30" placeholder="e.g. VH00016" name="PropertyUID" id="PropertyUID" autocomplete="off">
                                </div>
                            </div>

                            <div class="full-label text-center"><p><br><i>----- OR -----</i></p></div>

                            <div class="s-filters">
                                <label class="sm-label-filter">Place</label>
                                <input class="place myselect" type="text" size="30" placeholder="e.g. city, state, country" name="Query" id="Query" autocomplete="off">
                            </div>

                            <div class="s-filters">
                                <label class="sm-label-filter">Check in</label>
                                <input class="sm-input myselect" name="StartDate" id="StartDate" autocomplete="off">
                            </div>

                            <div class="s-filters">
                                <label class="sm-label-filter">Check out</label>
                                <input class="sm-input myselect" name="EndDate" id="EndDate" autocomplete="off">
                            </div>

                            <div class="s-filters">
                                <label class="sm-label-filter">Guests</label>
                                <select class="sm-input myselect" id="Guest" name="Guest">
                                    <option value="0">Select</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">More than 15</option>
                                </select>
                            </div>
                            <div class="sbb">&nbsp;</div>
                            <div class="full-label text-center"><button class="btn-primary">Search</button></div>

                        </div>

                    }
                </div>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <article class="element clearfix">

                @foreach (var property in Model)
                {
                    <a href="/Property/Detail/@property.Id">
                        <div class="property-thumb">
                            <p class="property-thumb-img">
                                <img src="~/UploadFile/PropertyCoverPhoto/@property.CoverImage" />
                            </p><div class="property-price-box">
                                <span class="property-price-currency">
                                    @if (property.RegionId == 2)
                                    { <text>&euro;</text> }
                                    else
                                    { <text>&#8377;</text>}
                                </span><span class="property-price">@property.Price/-</span>
                            </div>
                            <p></p>
                            <h3 class="property-thumb-title"><span class="property-id">VH@(property.Id.ToString("D5"))</span>: @property.Title</h3>
                            <p class="property-thumb-info">
                                <span class="property-category">@property.Category</span>
                                <span class="property-rooms">@property.PersonPerRoom Bedrooms</span>
                                <span class="property-guests">@property.GuestCount Guests</span>
                                <span class="property-rating">
                                    @switch (property.Rating)
                                    {
                                        case "2":
                                            <img src="~/images/butterfly.png" width="30" title="Pink Butterfly Award" alt="butterfly">
                                            break;
                                        case "3":
                                            <img src="~/images/deer.png" width="30" title="Pink Butterfly Award" alt="butterfly">
                                            break;
                                        case "4":
                                            <img src="~/images/eagle.png" width="30" title="Pink Butterfly Award" alt="butterfly">
                                            break;
                                        default:
                                            break;
                                    }
                                </span>
                            </p>
                        </div>
                    </a>
                }



            </article>
        </div>

    </div>
</section>


@section scripts{
    @*<script>

        var endDateCtrl = $("#EndDate").datepick({
            dateFormat: 'dd/mm/yyyy',
            minDate: new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate() + 1),
            onSelect: function (dates) {
                var date = new Date(dates)
                $("#EndDate").attr("value", date.getFullYear() + '-' + date.getMonth() + '-' + date.getDate());
                var startDate = document.getElementById("StartDate").value;
                var endDate = document.getElementById("EndDate").value;
                if ((parseDate(startDate) > parseDate(endDate))) {
                    alert("End date should be greater than Start date");
                    document.getElementById("EndDate").value = "";
                }
            },
        });
        var startDateControl = $("#StartDate").datepick({
            dateFormat: 'dd/mm/yyyy',
            minDate: new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate()),
            onSelect: function (dates) {
                document.getElementById("EndDate").value = "";
                var date = new Date(dates)
                $("#StartDate").attr("value", date.getFullYear() + '-' + date.getMonth() + '-' + date.getDate());
                endDateCtrl.datepick('option', 'minDate', new Date(date.getFullYear(), date.getMonth(), date.getDate() + 1));
            },
        });

        function parseDate(value) {
            var parts = value.split("/");
            return new Date(Number(parts[2]), Number(parts[1]) - 1, Number(parts[0]));
        }

    </script>

    <script>
        var myTypeahead = $('#Query').typeahead({
            minLength: 1,
            source: function (query, process) {
                return $.post('@Url.Action("GetPropertyAutocompleteHelp")', { query: query, region: '@PropertyFrom' }, function (data) {
                    return process(data);
                });
            },
        });

        //$("#btnSearch").on("click", function () {
        //    var selectedText = $(".typeahead li.active").text().trim();
        //    $('#Query').val(selectedText);
        //});



    </script>*@
    <script>
        var myTypeahead = $('#PropertyUID').typeahead({
            minLength: 1,
            source: function (query, process) {
                return $.post('@Url.Action("GetRelatedPropertyAutocompleteHelp", "ManageProperty")', { query: query, regionId : @regionId }, function (data) {
                    return process(data);
                });
            },
        });
    </script>
}



