@model VHS.Services.ViewModel.PropertyEditViewModel
@{
    ViewBag.Title = "EditProperty";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<section class="section">
    <div class="container clearfix centered">
        <div class="col-lg-12">
            <h3 class="header">Edit Property</h3>
            <div class="head-underline"></div>
            <!--<p class="sub-heading"><span class="required">*</span>Mandatory fields</p>-->
        </div>
    </div>
    <div class="container">
        <!--leftside tabs-->
        <div class="col-lg-3 col-md-3 left-nav">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a data-toggle="pill" href="#home">General Information</a></li>
                <li><a data-toggle="pill" href="#menu1">Additonal Information</a></li>
                <li><a data-toggle="pill" href="#menu6">Manage Amenities</a></li>
                <li><a data-toggle="pill" href="#menu7">Manage Pricing</a></li>
                <li><a data-toggle="pill" href="#menu2">Property page appearance settings</a></li>
                <li><a data-toggle="pill" href="#menu3">Add Travel Ambassador Review</a></li>
                <li><a data-toggle="pill" href="#menu4">Transfer Property to other RM</a></li>
                <li><a data-toggle="pill" href="#menu5">Delete Property</a></li>
            </ul>
        </div>
        <!--leftside tabs end-->
        <!--rightside info-->
        <div class="col-lg-9 col-md-9 col-sm-12 right-content">
            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    @Html.Partial("_PropertyGeneralInfo", Model.propertyGeneralInfo)
                </div>
                <div id="menu1" class="tab-pane fade">
                    @Html.Partial("_PropertyAdditionalInfo", Model.propertyAdditionalInfo)

                </div>
                <div id="menu6" class="tab-pane fade">
                    @Html.Partial("_PropertyAmenities", Model.propertyAmenities)
                </div>
                <div id="menu7" class="tab-pane fade">
                    <h3>Manage Pricing</h3>
                    <p class="sub-heading"><span class="error-msg">some error occured</span></p>
                    <div class="col-lg-6 col-md-6">
                        @Html.Partial("_PropertyFixPricing", Model.propertyFixPricing)
                        @Html.Partial("_PropertyVariablePricing", Model.propertVarablePricing)
                    </div>
                </div>
                <div id="menu2" class="tab-pane fade">
                    <h3>Property page appearance settings</h3>
                    <div class="col-lg-9 col-md-9">
                        @Html.Partial("_PropertyCoverPhoto", Model.propertyCoverPhoto)
                        @Html.Partial("_PropertyGallaryPhoto", Model.propertyGallaryPhoto)
                    </div>
                </div>
                <div id="menu3" class="tab-pane fade">
                    @Html.Partial("_PropertyTravelAmbassador")
                </div>
                <div id="menu4" class="tab-pane fade">
                    @Html.Partial("_PropertyTransfer", Model.propertyTransfer)
                </div>
                <div id="menu5" class="tab-pane fade">
                    @Html.Partial("_PropertyDelete", Model.propertyDelete)
                </div>
            </div>
        </div>
    </div>

</section>
