
    <ul class="nav navbar-nav">
        <li id="Admin" class="active">@Html.ActionLink("Home", "Index", "Admin")</li>
        <li id="ManageRm" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Manage RM
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">

                <li>@Html.ActionLink("Show RMs", "Show", "ManageRm")</li>
                <li>@Html.ActionLink("Create RM", "Create", "ManageRm")</li>
                <li>@Html.ActionLink("Update RM", "Update", "ManageRm")</li>
                <li>@Html.ActionLink("Arrange / Transfer Property to RM", "Arrange", "ManageRm")</li>
                <li>@Html.ActionLink("Block RM", "Block", "ManageRm")</li>
                <li>@Html.ActionLink("Suspend RM", "Suspend", "ManageRm")</li>
            </ul>
        </li>
        <li id="liManagePropert" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Manage Property
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Manage Properties", "ManageProperty", "ManageProperty")</li>
                <li>@Html.ActionLink("Approved Properties", "Approve", "ManageProperty")</li>
                <li>@Html.ActionLink("Waiting for Approval", "Waiting", "ManageProperty")</li>
                <li>@Html.ActionLink("Delete Property", "Delete", "ManageProperty")</li>
                <li>@Html.ActionLink("Assign Property", "Assign", "ManageProperty")</li>
            </ul>
        </li>
        <li id="liBookings" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Bookings
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Approved Bookings", "Approve", "ManageBooking")</li>
                <li>@Html.ActionLink("Waiting for Approval", "Waiting", "ManageBooking")</li>
                <li>@Html.ActionLink("Cancelled Bookings", "Cancelled", "ManageBooking")</li>
            </ul>
        </li>

        <li id="liManageUser" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Manage Users
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Show Users", "Show", "ManageUser")</li>
                <li>@Html.ActionLink("Update User", "Update", "ManageUser")</li>
                <li>@Html.ActionLink("Delete User", "Delete", "ManageUser")</li>
            </ul>
        </li>


        <li id="liTravelAmbassadaor" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Travel Ambassador
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Add Travel Ambassador", "Create", "TravelAmbassador")</li>
                <li>@Html.ActionLink("Approve Travel Ambassador Review", "ApproveReview", "TravelAmbassador")</li>
                <li>@Html.ActionLink("Edit Travel Ambassador Review", "EditReview", "TravelAmbassador")</li>
                <li>@Html.ActionLink("Delete Travel Ambassador Review", "DeleteReview", "TravelAmbassador")</li>
                <li>@Html.ActionLink("Delete Travel Ambassador Account", "DeleteAccount", "TravelAmbassador")</li>
            </ul>
        </li>
        <li class="dropdown" id="liTravelBeats">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Travel Beats
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Add Travel Beats", "Create", "TravelBeats")</li>
                <li>@Html.ActionLink("Edit Travel Beats", "Edit", "TravelBeats")</li>
                <li>@Html.ActionLink("Delete Travel Beats", "Delete", "TravelBeats")</li>
            </ul>
        </li>
        @*<li id="liTravelBeats">@Html.ActionLink("Reports", "Index", "Report")</li>*@
        <li>@Html.ActionLink("Logout", "LogOff", "Admin")</li>
        @*<li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Profile
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">Edit Profile</a></li>
                <li><a href="#">Change Password</a></li>
                <li>@Html.ActionLink("Logout", "LogOff", "Admin")</li>
            </ul>
        </li>*@
    </ul>

