@model VHS.Services.Models.PropertyAdditionalInfoModel
<h3>Additonal Information</h3>
<div class="col-lg-6 col-md-6">
    @using (Ajax.BeginForm("PropertyAdditionalInfo", "ManageProperty", new AjaxOptions { OnBegin = "fnBeginAdditional", HttpMethod = "Post", OnSuccess = "fnSuccessAdditional", OnFailure = "fnFailure", OnComplete = "fnComplete" }, new { @class = "form-part" }))
    {
        @Html.HiddenFor(m => m.PropertyId)
        @Html.HiddenFor(m => m.PropAdditionalId)
        <p class="sub-heading" id="errormessage" style="display:none"><span class="error-msg"> Error occured during update</span></p><label class="sm-label">Rate this Property (3-5)<span class="required">*</span></label>
        @Html.DropDownListFor(m => m.PropRatingId, new SelectList(Model.ProperyRating, "Value", "Text"), "Select")
        <span style="color:red">@Html.ValidationMessageFor(m => m.PropRatingId)</span><br />
        <label>Add Property Description<span class="required">*</span></label>
        @Html.TextAreaFor(m => m.PropertyDescription)
        <span style="color:red">@Html.ValidationMessageFor(m => m.PropertyDescription)</span><br />
        <label class="sm-label">Check-in time<span class="required">*</span></label>
        @Html.TextBoxFor(m => m.CheckIn, new { type = "time" })
        <span style="color:red">@Html.ValidationMessageFor(m => m.CheckIn)</span><br />
        <label class="sm-label">Check-out time<span class="required">*</span></label>
        @Html.TextBoxFor(m => m.CheckOut, new { type = "time" })
        <label class="sm-label">Minimum Stay (Night(s))<span class="required">*</span></label>
        @Html.TextBoxFor(m => m.MininumStay)
        <span style="color:red">@Html.ValidationMessageFor(m => m.CheckOut)</span><br />
        <label class="sm-label">Size of Property<br />(/sq. ft)<span class="required">*</span></label>
        @Html.TextBoxFor(m => m.PropertySize)
        <span style="color:red">@Html.ValidationMessageFor(m => m.PropertySize)</span><br />
        <label class="sm-label">Maximum Guests allowed<span class="required">*</span></label>
                @Html.TextBoxFor(m => m.MaxGuest)
                <span style="color:red">@Html.ValidationMessageFor(m => m.MaxGuest)</span><br />
        @*<label class="sm-label">Persons per bedroom<span class="required">*</span></label>
        @Html.TextBoxFor(m => m.PersonPerRoom)
        <span style="color:red">@Html.ValidationMessageFor(m => m.PersonPerRoom)</span><br />*@
        <div style="clear:both;"></div>
        <label class="sm-label">Pets allowed<span class="required">*</span></label>
        @Html.DropDownListFor(m => m.PetsAllowedId, new SelectList(Model.PetsAllowed, "Value", "Text"), "Select")
        <span style="color:red">@Html.ValidationMessageFor(m => m.PetsAllowedId)</span><br />
        <div style="clear:both;"></div>
        <label class="sm-label">Drinking allowed<span class="required">*</span></label>
        @Html.DropDownListFor(m => m.DrinkAllowedId, new SelectList(Model.DrinkingAllowed, "Value", "Text"), "Select")
        <span style="color:red">@Html.ValidationMessageFor(m => m.DrinkAllowedId)</span><br />
        <div style="clear:both;"></div>
        <label class="sm-label">Smoking Allowed<span class="required">*</span></label>
        @Html.DropDownListFor(m => m.SmokeAllowedId, new SelectList(Model.SmokeAllowed, "Value", "Text"), "Select")
        <span style="color:red">@Html.ValidationMessageFor(m => m.SmokeAllowedId)</span><br />
        <div style="clear:both;"></div>
        <label class="sm-label">Family/Kid Friendly<span class="required">*</span></label>
        @Html.DropDownListFor(m => m.FamilyKidAllowedId, new SelectList(Model.FamilyKidAllowed, "Value", "Text"), "Select")
        <span style="color:red">@Html.ValidationMessageFor(m => m.FamilyKidAllowedId)</span><br />
        <div style="clear:both;"></div>
        <label class="sm-label">Wheelchair Accessible<span class="required">*</span></label>
        @Html.DropDownListFor(m => m.WheelChairId, new SelectList(Model.WheelChairAllowed, "Value", "Text"), "Select")
        <span style="color:red">@Html.ValidationMessageFor(m => m.WheelChairId)</span><br />
        <div style="clear:both;"></div>
		
		@*<label class="sm-label">Cancellation Policy<span class="required">*</span></label>
			<select class="sm-input">
			<option value="none">Select</option>
			<option value="easy">Easy</option>
			<option value="moderate">Moderate</option>
			<option value="strict">Strict</option>				
			</select>*@
            <label class="sm-label">Cancellation Policy<span class="required">*</span></label>
                        @Html.DropDownListFor(m => m.CancellationPolicyId, new SelectList(Model.CancellationPolicy, "Value", "Text"), "Select")
                       <span style="color:red">@Html.ValidationMessageFor(m => m.CancellationPolicyId)</span><br />
        @*<label class="full-label"><b>Select Cancellation Policy</b><span class="required">*</span></label>
        <div style="clear:both;"></div>
        <span id="cp1">@Html.RadioButtonFor(x=>x.CancellationPolicy, "1") 1. Easy</span>
        <br />
        <span id="cp1">@Html.RadioButtonFor(x => x.CancellationPolicy, "2") 2. Moderate</span>
        <br />
        <span id="cp1">@Html.RadioButtonFor(x => x.CancellationPolicy, "3") 3. Strict</span>
        <span style="color:red">@Html.ValidationMessageFor(m => m.WheelChairId)</span><br /><br />*@
		
		
        <div style="clear:both;"></div>
        <label class="full-label">Update map</label>
        <label class="sm-label">Latitude<span class="required">*</span></label>
        @Html.TextBoxFor(m => m.Latitude)
        <span style="color:red">@Html.ValidationMessageFor(m => m.Latitude)</span><br />
        <label class="sm-label">Longitude<span class="required">*</span></label>
        @Html.TextBoxFor(m => m.Logitude)
        <span style="color:red">@Html.ValidationMessageFor(m => m.Logitude)</span><br />
        <div style="clear:both;"></div>
        <label class="full-label">Black-out dates</label>
        <div id="divBlacOutDate">
            @if (Model.BlackOutDatsList.Count > 0)
                {
                    foreach (var item in Model.BlackOutDatsList)
                    {
                    @Html.Partial("EditorTemplates/BlackOutDate", item)
                }

            }
        </div>
        <b><a href="javascript:void()" id="addBlackOut">+ Add another</a></b>
            <div style="clear:both;"></div>
            <div class="input-wrapper clearfix">
                <input type="submit" class="send-btn" value="Update" id="" name="" />
                <input type="reset" class="send-btn" value="Cancel" id="" name="" />
                <p id="imgLoaderAdditional" style="color:green;display:none"><img src="~/Images/l2.gif" />please wait....</p>
            </div>
    }
</div>
<script>
    $(document).ready(function () {

        $("#loginLink").addClass("active");
    });
    //Show the Success:-
    function fnBeginAdditional() {
        $('#imgLoaderAdditional').show();
        //Show any loder when process start:-
    }
    function fnSuccessAdditional(response, status, xhr) {
        if (response == "1") {
            alert("Information is updated successfully.");
            $('#imgLoaderAdditional').hide();
        }
        else if (response == "0") {
            alert("Information could updated successfully.");
            $("#imgLoaderAdditional").show();

        }
        else {
            $('#imgLoaderAdditional').hide();
            alert("Please try after '")
        }
    }
    function fnFailure(xhr, status, err) {
        $('#imgLoaderAdditional').hide();
        alert("'failure occured!!.Please try after '")
    }
    function fnComplete() {
        if (response != "1") {
            $('#imgLoaderAdditional').hide();
        }
    }
</script>
<script>
    $("#addBlackOut").click(function () {
        $.ajax({
            async: false,
            url: '@Url.Action("PartialAddBlack", "ManageProperty")',
        }).success(function (partialView) {
            $('#divBlacOutDate').append(partialView);
            $("form").removeData("validator");
            $("form").removeData("unobtrusiveValidation");
            $.validator.unobtrusive.parse("form");
        });
    });
    $(document).delegate('a.deleteRow', 'click', function () {
        $(this).parents('div.editorRow:first').remove();
        return false;
    });
</script>
<script type="text/javascript" language=javascript>
    $.validator.unobtrusive.parse(document);
</script>