@model VHS.Services.Models.PropertyVarablePricing
@using Newtonsoft.Json
<h4>Variable Pricing</h4>
@using (Ajax.BeginForm("PropertyVariablePricing", "ManageProperty", new AjaxOptions { OnBegin = "fnBeginVariable", HttpMethod = "Post", OnSuccess = "fnSuccessVaraiblePrice", OnFailure = "fnFailure", OnComplete = "fnComplete" }, new { @class = "form-part" }))
{
    @Html.HiddenFor(m => m.PropertyId)
    @Html.HiddenFor(m => m.PropVarPriceId)
    <label class="sm-label">Start date</label>
    @Html.TextBoxFor(m => m.StartDate, new { @id = "txtStartDate", @type = "date" })
    <span style="color:red">@Html.ValidationMessageFor(m => m.StartDate)</span><br />
    <label class="sm-label">Stop date</label>
    @Html.TextBoxFor(m => m.StopDate, new { @id = "txtStopDate", @type = "date" })
    <span style="color:red">@Html.ValidationMessageFor(m => m.StopDate)</span><br />
    <label class="sm-label">Price</label>
    @Html.TextBoxFor(m => m.Price)
    <span style="color:red">@Html.ValidationMessageFor(m => m.Price)</span><br />
    <label class="sm-label">Description</label>
    @Html.TextAreaFor(m => m.Description)
    <span style="color:red">@Html.ValidationMessageFor(m => m.Description)</span><br />
        <div style="clear:both;"></div>
        <div class="input-wrapper clearfix">
            <input type="submit" class="send-btn" value="Update" id="" name="" />
            <input type="reset" class="send-btn" value="Cancel" id="" name="" />
            <p id="imgLoaderVariable" style="color:green;display:none"><img src="~/Images/l2.gif" />please wait....</p>
        </div>
}
<script>
    $(document).ready(function () {
        var startdate = @Html.Raw(JsonConvert.SerializeObject(Model.StartDate));
        var enddate = @Html.Raw(JsonConvert.SerializeObject(Model.StartDate));
        $("#txtStartDate").val(startdate);
        $("#txtStopDate").val(enddate)
    });
</script>
<script>
    $(document).ready(function () {

        $("#loginLink").addClass("active");
    });
    //Show the Forgot Password  Div:-
    //Show the Success:-
    function fnBeginVariable() {
        $('#imgLoaderVariable').show();
        //Show any loder when process start:-
    }
    function fnSuccessVaraiblePrice(response, status, xhr) {
        if (response == "1") {
            alert("Information is updated successfully.");
        }
        else if (response == "0") {
            $('#imgLoaderVariable').hide();
            $("#errormessage").show();

        }
        else {
            $('#imgLoaderVariable').hide();
            alert("Please try after '")
        }
    }
    function fnFailure(xhr, status, err) {
        $('#imgLoaderVariable').hide();
        alert("'failure occured!!.Please try after '")
    }
    function fnComplete() {
        $('#imgLoaderVariable').hide();
    }
</script>