@model VHS.Services.Models.PropertyAmenities
<h3>Additonal Information</h3>
<div class="col-lg-6 col-md-6">
    @using (Ajax.BeginForm("PropertyAmenities", "ManageProperty", new AjaxOptions { OnBegin = "fnBeginAmenities", HttpMethod = "Post", OnSuccess = "fnSuccessAmenities", OnFailure = "fnFailure", OnComplete = "fnComplete" }, new { @id = "frmAmenities", @class = "form-part" }))
    {
        <p class="sub-heading" id="errormessage" style="display:none"><span class="error-msg"> Error occured during update</span></p>
        @Html.HiddenFor(m => m.PropertyId)
        <div style="clear:both;"></div>
        <label class="full-label">Parking<span class="required"></span></label>
        if (Model != null && Model.ParkingList != null)
        {
            foreach (var parking in Model.ParkingList)
            {
                <label class="half-label"><input type="checkbox" checked="@parking.IsChecked" name="ParkingId" value="@parking.id"><span>@parking.Name</span></label>
            }
        }
        <div style="clear:both;"></div>
        <label class="full-label">Sleeping Arrangment</label>
        if (Model != null && Model.SleepingArrangmentList != null)
        {
            foreach (var sleeping in Model.SleepingArrangmentList)
            {
                <label class="half-label"><input type="checkbox" checked="@sleeping.IsChecked" name="SleepingArrangmentId" value="@sleeping.id"><span>@sleeping.Name</span></label>
            }
        }
        <div style="clear:both;"></div>
        <label class="full-label">Bathrooms</label>
        if (Model != null && Model.BathRoomsList != null)
        {
            foreach (var bathRoom in Model.BathRoomsList)
            {
                <label class="half-label"><input type="checkbox" checked="@bathRoom.IsChecked" name="BathRoomsId" value="@bathRoom.id"><span>@bathRoom.Name</span></label>
            }
        }
        <label class="full-label">Kitchen</label>
        if (Model != null && Model.KitchenList != null)
        {
            foreach (var kitchen in Model.KitchenList)
            {
                <label class="half-label"><input type="checkbox" checked="@kitchen.IsChecked" name="KitchenId" value="@kitchen.id"><span>@kitchen.Name</span></label>
            }
        }
        <label class="full-label">General</label>
        if (Model != null && Model.GeneralList != null)
        {
            foreach (var genearl in Model.GeneralList)
            {
                <label class="half-label"><input type="checkbox" checked="@genearl.IsChecked" name="GeneralId" value="@genearl.id"><span>@genearl.Name</span></label>
            }
        }
        <label class="full-label">Entertainment And Electronics</label>
        if (Model != null && Model.EnterTaimentElecList != null)
        {
            foreach (var entertainMent in Model.EnterTaimentElecList)
            {
                <label class="half-label"><input type="checkbox" checked="@entertainMent.IsChecked" name="EnterTaimentId" value="@entertainMent.id"><span>@entertainMent.Name</span></label>
            }
        }
        <label class="full-label">Outdoor Facilities</label>
        if (Model != null && Model.OutdoorFacilitiesList != null)
        {
            foreach (var outdoor in Model.OutdoorFacilitiesList)
            {
                <label class="half-label"><input type="checkbox" checked="@outdoor.IsChecked" name="OutdoorId" value="@outdoor.id"><span>@outdoor.Name</span></label>
            }
        }
        <div style="clear:both;"></div>
        <div class="input-wrapper clearfix">
            <input type="submit" class="send-btn" value="Update" id="" name="" />
            <input type="reset" class="send-btn" value="Cancel" id="" name="" />
            <p id="imgLoader" style="color:green;display:none"><img src="~/Images/l2.gif" />please wait....</p>
        </div>

    }
</div>
<script>
    $(document).ready(function () {

        $("#loginLink").addClass("active");
    });
    //Show the Forgot Password  Div:-
    function ShowForgotPassword() {
        window.location.href = '@Url.Action("ForgotPassword", "Account")';
    }
    //Show the Success:-
    function fnBeginAmenities() {

        if ($("#frmAmenities input:checkbox:checked").length > 0) {
            $('#imgLoader').show();
        }
        else {
            alert("Please select at least one checkbox.");
            return false;
        }

        //Show any loder when process start:-
    }
    function fnSuccessAmenities(response, status, xhr) {
        if (response == "1") {
            alert("Information is updated successfully.");
            $('#imgLoader').hide();
        }
        else if (response == "0") {
            $('#imgLoader').hide();
            $("#errormessage").show();

        }
        else {
            $('#imgLoader').hide();
            alert("Please try after '")
        }
    }
    function fnFailure(xhr, status, err) {
        $('#imgLoader').hide();
        alert("'failure occured!!.Please try after '")
    }
    function fnComplete() {
        if (response != "1") {
            $('#imgLoader').hide();
        }
    }
</script>