@model VHS.Services.Models.PropertyFixedPricing
<h4>Fixed Pricing</h4>
@using (Ajax.BeginForm("PropertyFixedPricing", "ManageProperty", new AjaxOptions { OnBegin = "fnBeginFixedPrice", HttpMethod = "Post", OnSuccess = "fnSuccessFixedPrice", OnFailure = "fnFailure", OnComplete = "fnComplete" }, new { @class = "form-part" }))
{ <p class="sub-heading" id="errormessage" style="display:none"><span class="error-msg"> Error occured during update</span></p>
    @Html.HiddenFor(m => m.PropertyId)
    @Html.HiddenFor(m => m.PropFixedPriceId)
    <label class="sm-label">Select Currency</label>
    @Html.DropDownListFor(m => m.CurrencyId, new SelectList(Model.PriceCurrency, "Value", "Text"), "Select")
    <span style="color:red">@Html.ValidationMessageFor(m => m.CurrencyId)</span><br />
    <label class="sm-label">Price per night</label>
    @Html.TextBoxFor(m => m.PricePerNight)
    <span style="color:red">@Html.ValidationMessageFor(m => m.PricePerNight)</span><br />
    <label class="sm-label">Price per week</label>
    @Html.TextBoxFor(m => m.PricePerWeek)
    <span style="color:red">@Html.ValidationMessageFor(m => m.PricePerWeek)</span><br />
    <label class="sm-label">Price per month</label>
    @Html.TextBoxFor(m => m.PricePerMonth)
    <span style="color:red">@Html.ValidationMessageFor(m => m.PricePerMonth)</span><br />
    <label class="full-label">Cleaning Fee</label>
    <label class="sm-label">Daily</label>
    @Html.TextBoxFor(m => m.CleaningFeeDaily)
    <label class="sm-label">Weekly</label>
    @Html.TextBoxFor(m => m.CleaningFeeWeekly)
    <label class="sm-label">Montly</label>
    @Html.TextBoxFor(m => m.CleaningFeeMonthly)
    <label class="sm-label">One time</label>
    @Html.TextBoxFor(m => m.PriceOneTime)
    <label class="sm-label">Comission</label>
    @Html.TextBoxFor(m => m.Comision)
    <label class="sm-label">Other fee</label>
    @Html.TextAreaFor(m => m.OtherPrice)
    <div style="clear:both;"></div>
    <div class="input-wrapper clearfix">
        <input type="submit" class="send-btn" value="Update" id="" name="" />
        <input type="reset" class="send-btn" value="Cancel" id="" name="" />
        <p id="imgLoaderFixed" style="color:green;display:none"><img src="~/Images/l2.gif" />please wait....</p>
    </div>
}
<script>
    $(document).ready(function () {

        $("#loginLink").addClass("active");
    });
    //Show the Forgot Password  Div:-
    //Show the Success:-
    function fnBeginFixedPrice() {
        $('#imgLoaderFixed').show();
        //Show any loder when process start:-
    }
    function fnSuccessFixedPrice(response, status, xhr) {
        if (response == "1") {
            alert("Information is updated successfully.");
            $('#imgLoaderFixed').hide();
        }
        else if (response == "0") {
            $('#imgLoaderFixed').hide();
            $("#errormessage").show();

        }
        else {
            $('#imgLoaderFixed').hide();
            alert("Please try after '")
        }
    }
    function fnFailure(xhr, status, err) {
        $('#imgLoaderFixed').hide();
        alert("'failure occured!!.Please try after '")
    }
    function fnComplete() {
        if (response != "1") {
            $('#imgLoaderFixed').hide();
        }
    }
</script>
<script type="text/javascript" language=javascript>
    $.validator.unobtrusive.parse(document);
</script>