
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery.magnific-popup.min.js"></script>

<div id="container" class="clearfix no-margin" style="position: relative; height: 1056px;">



    <div class="element  clearfix col-lg-4 col-md-6 col-sm-6 col-xs-12 home norway" style="position: absolute; left: 527px; top: 0px;">
        <div class="margin-wrapper">
            <a href="@Url.Action("ListedIndianProperty","Property")">
                <figure class="images"> <img src="/images/home/konkan.jpg" alt=""> </figure>
                <div class="covering-image centered">
                    <div class="info-box-content">
                        <div class="parent">
                            <div class="child">
                                <h3>Konkan Homestays, India<br><img class="line-p" src="/images/headline.jpg"></h3>
                                <p class="uppercase centered"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="element  clearfix col-lg-4 col-md-6 col-sm-6 col-xs-12 home denmark" style="position: absolute; left: 1055px; top: 0px;">
        <div class="margin-wrapper">
            <a href="@Url.Action("ListedSpainProperty","Property")">
                <figure class="images"> <img src="/images/home/spain.jpg" alt=""> </figure>
                <div class="covering-image centered">
                    <div class="info-box-content">
                        <div class="parent">
                            <div class="child">
                                <h3>Spain Homestays<br><img class="line-p" src="/images/headline.jpg"></h3>
                                <p class="uppercase"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="element  clearfix col-lg-4 col-md-6 col-sm-6 col-xs-12 home norway" style="position: absolute; left: 0px; top: 352px;">
        <div class="margin-wrapper">
            <a href="@Url.Action("ListedProperty","Property")">
                <figure class="images"> <img src="/images/home/book-req2.jpg" alt=""> </figure>
                <div class="covering-image centered">
                    <div class="info-box-content">
                        <div class="parent">
                            <div class="child">
                                <h3>Booking Request<br><img class="line-p" src="/images/headline.jpg"></h3>
                                <p class="uppercase"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="element  clearfix col-lg-4 col-md-6 col-sm-6 col-xs-12 home norway" style="position: absolute; left: 527px; top: 352px;">
        <div class="margin-wrapper">
            <a href="@Url.Action("Add","Property")">
                <figure class="images"> <img src="/images/home/list-prop1.jpg" alt=""> </figure>
                <div class="covering-image centered">
                    <div class="info-box-content">
                        <div class="parent">
                            <div class="child">
                                <h3>List your property<br><img class="line-p" src="/images/headline.jpg"></h3>
                                <p class="uppercase"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

	
	<div class="element clearfix col-lg-4 col-md-6 col-sm-6 col-xs-12 home">
      <div class="margin-wrapper">
		  <a href="@Url.Action("About","Home")">
			<figure class="images"> <img src="/images/home/velvett2.jpg" alt="" /> </figure>
			<div class="covering-image centered">
			  <div class="info-box-content">
				<div class="parent">
				  <div class="">	
					<p><br/></p>	
					<p><br/></p>
					<p class="intro-txt text-center">We travel. We curate. We belong.<br/>Know more about us...</p>
					<h3><img class="logo-tile" src="/images/vh-logo-2.png" alt="velvett homestays" /></h3>
					<p><br/></p>				
				  </div>
				</div>
			  </div>
			</div>
		  </a> 
	  </div>
    </div>
	
	
    <div class="element  clearfix col-lg-4 col-md-6 col-sm-6 col-xs-12 home sweden" style="position: absolute; left: 1055px; top: 352px;">
        <div class="margin-wrapper">
            <a href="@Url.Action("Travelogy","Home")">
                <figure class="images"> <img src="/images/home/egg.jpg" alt=""> </figure>
                <div class="covering-image centered">
                    <div class="info-box-content">
                        <div class="parent">
                            <div class="child">
                                <h3>Travelogists - Meet the team<br><img class="line-p" src="/images/headline.jpg"></h3>
                                <p class="uppercase"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="element  clearfix col-lg-4 col-md-6 col-sm-6 col-xs-12 home denmark" style="position: absolute; left: 0px; top: 704px;">
        <div class="margin-wrapper">
            <a href="@Url.Action("VelvettHolidays","Home")">
                <figure class="images"> <img src="/images/home/vh.jpg" alt=""> </figure>
                <div class="covering-image centered">
                    <div class="info-box-content">
                        <div class="parent">
                            <div class="child">
                                <h3>Velvett Holidays<br><img class="line-p" src="/images/headline.jpg"></h3>
                                <p class="uppercase"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="element  clearfix col-lg-4 col-md-6 col-sm-6 col-xs-12 home sweden" style="position: absolute; left: 527px; top: 704px;">
        <div class="margin-wrapper">
            <a href="@Url.Action("Newsletter","Home")">
                <figure class="images"> <img src="/images/home/nl.jpg" alt=""> </figure>
                <div class="covering-image centered">
                    <div class="info-box-content">
                        <div class="parent">
                            <div class="child">
                                <h3>Subscribe to newsletter<br><img class="line-p" src="/images/headline.jpg"></h3>
                                <p class="uppercase"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="element  clearfix col-lg-4 col-md-6 col-sm-6 col-xs-12 home sweden" style="position: absolute; left: 1055px; top: 704px;">
        <div class="margin-wrapper">
            <a href="@Url.Action("Contact","Home")">
                <figure class="images"> <img src="/images/home/contact.jpg" alt=""> </figure>
                <div class="covering-image centered">
                    <div class="info-box-content">
                        <div class="parent">
                            <div class="child">
                                <h3>Contact us<br><img class="line-p" src="/images/headline.jpg"></h3>
                                <p class="uppercase"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>



</div>

@*<div id="container" class="clearfix no-margin">
    <div class="element  clearfix col-lg-4 col-md-6 col-sm-6 col-xs-12 home norway">
        <div class="margin-wrapper">
            <a href="@Url.Action("Comingsoon","Home")">
                <figure class="images"> <img src="~/Images/11.jpg" alt="" /> </figure>
                <div class="covering-image centered">
                    <div class="info-box-content">
                        <div class="parent">
                            <div class="child">
                                <h3>Konkan Homestays, India</h3>
                                <p class="uppercase centered"><img class="line-p" src="~/Images/headline.jpg" /></p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="element  clearfix col-lg-4 col-md-6 col-sm-6 col-xs-12 home denmark">
        <div class="margin-wrapper">
            <a href="@Url.Action("Comingsoon","Home")">
                <figure class="images"> <img src="~/Images/16.jpg" alt="" /> </figure>
                <div class="covering-image centered">
                    <div class="info-box-content">
                        <div class="parent">
                            <div class="child">
                                <h3>Spain Homestays</h3>
                                <p class="uppercase"><img class="line-p" src="~/Images/headline.jpg" /></p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="element  clearfix col-lg-4 col-md-6 col-sm-6 col-xs-12 home sweden">
        <div class="margin-wrapper">
            <a href="@Url.Action("Comingsoon","Home")">
                <figure class="images"> <img src="~/Images/18.jpg" alt="" /> </figure>
                <div class="covering-image centered">
                    <div class="info-box-content">
                        <div class="parent">
                            <div class="child">
                                <h3>About us</h3>
                                <p class="uppercase"><img class="line-p" src="~/Images/headline.jpg" /></p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="element  clearfix col-lg-4 col-md-6 col-sm-6 col-xs-12 home norway">
        <div class="margin-wrapper">
            <a href="@Url.Action("Comingsoon","Home")">
                <figure class="images"> <img src="~/Images/property2.jpg" alt="" /> </figure>
                <div class="covering-image centered">
                    <div class="info-box-content">
                        <div class="parent">
                            <div class="child">
                                <h3>List your property</h3>
                                <p class="uppercase"><img class="line-p" src="~/Images/headline.jpg" /></p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="element  clearfix col-lg-4 col-md-6 col-sm-6 col-xs-12 home sweden">
        <div class="margin-wrapper">
            <a href="@Url.Action("Comingsoon","Home")">
                <figure class="images"> <img src="~/Images/14.jpg" alt="" /> </figure>
                <div class="covering-image centered">
                    <div class="info-box-content">
                        <div class="parent">
                            <div class="child">
                                <h3>Travelogist - The team</h3>
                                <p class="uppercase"><img class="line-p" src="~/Images/headline.jpg" /></p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="element  clearfix col-lg-4 col-md-6 col-sm-6 col-xs-12 home norway">
        <div class="margin-wrapper">
            <a href="@Url.Action("Comingsoon","Home")">
                <figure class="images"> <img src="~/Images/13.jpg" alt="" /> </figure>
                <div class="covering-image centered">
                    <div class="info-box-content">
                        <div class="parent">
                            <div class="child">
                                <h3>Booking Request</h3>
                                <p class="uppercase"><img class="line-p" src="~/Images/headline.jpg" /></p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="element  clearfix col-lg-4 col-md-6 col-sm-6 col-xs-12 home denmark">
        <div class="margin-wrapper">
            <a href="@Url.Action("Comingsoon","Home")">
                <figure class="images"> <img src="~/Images/17.jpg" alt="" /> </figure>
                <div class="covering-image centered">
                    <div class="info-box-content">
                        <div class="parent">
                            <div class="child">
                                <h3>Velvett Holidays</h3>
                                <p class="uppercase"><img class="line-p" src="~/Images/headline.jpg" /></p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="element  clearfix col-lg-4 col-md-6 col-sm-6 col-xs-12 home sweden">
        <div class="margin-wrapper">
            <a href="@Url.Action("Comingsoon","Home")">
                <figure class="images"> <img src="~/Images/15.jpg" alt="" /> </figure>
                <div class="covering-image centered">
                    <div class="info-box-content">
                        <div class="parent">
                            <div class="child">
                                <h3>Subscribe to newsletter</h3>
                                <p class="uppercase"><img class="line-p" src="~/Images/headline.jpg" /></p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="element  clearfix col-lg-4 col-md-6 col-sm-6 col-xs-12 home sweden">
        <div class="margin-wrapper">
            <a href="@Url.Action("Comingsoon","Home")">
                <figure class="images"> <img src="~/Images/19.jpg" alt="" /> </figure>
                <div class="covering-image centered">
                    <div class="info-box-content">
                        <div class="parent">
                            <div class="child">
                                <h3>Contact us</h3>
                                <p class="uppercase"><img class="line-p" src="~/Images/headline.jpg" /></p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>*@

