
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery.magnific-popup.min.js"></script>
@*<div id="container" class="clearfix no-margin" style="position: relative; height: 1188px;">
    <div class="element  clearfix col-lg-4 col-md-6 col-sm-6 col-xs-12 home norway" style="position: absolute; left: 0px; top: 0px;">
        <div class="margin-wrapper">
            <a class="simple-ajax-popup" href="ajax/project.html" data-title="">
                <figure class="images"> <img src="images/1.jpg" alt=""> </figure>
                <div class="covering-image centered">
                    <div class="info-box-content">
                        <div class="parent">
                            <div class="child">
                                <h3>Beachside</h3>
                                <p class="uppercase">Goa</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="element  clearfix col-lg-4 col-md-6 col-sm-6 col-xs-12 home denmark" style="position: absolute; left: 527px; top: 0px;">
        <div class="margin-wrapper">
            <a class="simple-ajax-popup" href="ajax/slider.html" data-title="">
                <figure class="images"> <img src="images/2.jpg" alt=""> </figure>
                <div class="covering-image centered">
                    <div class="info-box-content">
                        <div class="parent">
                            <div class="child">
                                <h3>Farm house</h3>
                                <p class="uppercase">Karjat</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="element  clearfix col-lg-4 col-md-6 col-sm-6 col-xs-12 home sweden" style="position: absolute; left: 1055px; top: 0px;">
        <div class="margin-wrapper">
            <a class="simple-ajax-popup" href="ajax/video.html" data-title="">
                <figure class="images"> <img src="images/3.jpg" alt=""> </figure>
                <div class="covering-image centered">
                    <div class="info-box-content">
                        <div class="parent">
                            <div class="child">
                                <h3>Villa</h3>
                                <p class="uppercase">Alibag</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="element  clearfix col-lg-4 col-md-6 col-sm-6 col-xs-12 home norway" style="position: absolute; left: 0px; top: 396px;">
        <div class="margin-wrapper">
            <a class="simple-ajax-popup" href="ajax/project.html" data-title="">
                <figure class="images"> <img src="images/4.jpg" alt=""> </figure>
                <div class="covering-image centered">
                    <div class="info-box-content">
                        <div class="parent">
                            <div class="child">
                                <h3>Pool side</h3>
                                <p class="uppercase">Karjat</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="element  clearfix col-lg-4 col-md-6 col-sm-6 col-xs-12 home sweden" style="position: absolute; left: 527px; top: 396px;">
        <div class="margin-wrapper">
            <a class="simple-ajax-popup" href="ajax/project.html" data-title="">
                <figure class="images"> <img src="images/5.jpg" alt=""> </figure>
                <div class="covering-image centered">
                    <div class="info-box-content">
                        <div class="parent">
                            <div class="child">
                                <h3>Rockin House</h3>
                                <p class="uppercase">Spain</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="element  clearfix col-lg-4 col-md-6 col-sm-6 col-xs-12 home norway" style="position: absolute; left: 1055px; top: 396px;">
        <div class="margin-wrapper">
            <a class="simple-ajax-popup" href="ajax/project.html" data-title="">
                <figure class="images"> <img src="images/6.jpg" alt=""> </figure>
                <div class="covering-image centered">
                    <div class="info-box-content">
                        <div class="parent">
                            <div class="child">
                                <h3>Greenwood</h3>
                                <p class="uppercase">Alibag</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="element  clearfix col-lg-4 col-md-6 col-sm-6 col-xs-12 home denmark" style="position: absolute; left: 0px; top: 792px;">
        <div class="margin-wrapper">
            <a class="simple-ajax-popup" href="ajax/project.html" data-title="">
                <figure class="images"> <img src="images/7.jpg" alt=""> </figure>
                <div class="covering-image centered">
                    <div class="info-box-content">
                        <div class="parent">
                            <div class="child">
                                <h3>Rio House</h3>
                                <p class="uppercase">Spain</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="element  clearfix col-lg-4 col-md-6 col-sm-6 col-xs-12 home sweden" style="position: absolute; left: 527px; top: 792px;">
        <div class="margin-wrapper">
            <a href="images/photography/nature06.jpg" data-title="Project Title Here" data-fancybox-group="group1" class="popup">
                <figure class="images"> <img src="images/8.jpg" alt=""> </figure>
                <div class="covering-image centered">
                    <div class="info-box-content">
                        <div class="parent">
                            <div class="child">
                                <h3>Casa Rio Apartment</h3>
                                <p class="uppercase">Goa</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="element  clearfix col-lg-4 col-md-6 col-sm-6 col-xs-12 home sweden" style="position: absolute; left: 1055px; top: 792px;">
        <div class="margin-wrapper">
            <a href="images/photography/nature10.jpg" data-title="Project Title Here" data-fancybox-group="group1" class="popup">
                <figure class="images"> <img src="images/9.jpg" alt=""> </figure>
                <div class="covering-image centered">
                    <div class="info-box-content">
                        <div class="parent">
                            <div class="child">
                                <h3>Pali Villa</h3>
                                <p class="uppercase">Goa</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>



</div>*@
<div id="container" class="clearfix no-margin">
    <div class="element  clearfix col-lg-4 col-md-6 col-sm-6 col-xs-12 home norway">
        <div class="margin-wrapper">
            <a href="@Url.Action("Comingsoon","Home")">
                <figure class="images"> <img src="~/Images/11.jpg" alt="" /> </figure>
                <div class="covering-image centered">
                    <div class="info-box-content">
                        <div class="parent">
                            <div class="child">
                                <h3>Konkan Homestays, India</h3>
                                <p class="uppercase centered"><img class="line-p" src="~/Images/headline.jpg" /></p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="element  clearfix col-lg-4 col-md-6 col-sm-6 col-xs-12 home denmark">
        <div class="margin-wrapper">
            <a href="@Url.Action("Comingsoon","Home")">
                <figure class="images"> <img src="~/Images/16.jpg" alt="" /> </figure>
                <div class="covering-image centered">
                    <div class="info-box-content">
                        <div class="parent">
                            <div class="child">
                                <h3>Spain Homestays</h3>
                                <p class="uppercase"><img class="line-p" src="~/Images/headline.jpg" /></p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="element  clearfix col-lg-4 col-md-6 col-sm-6 col-xs-12 home sweden">
        <div class="margin-wrapper">
            <a href="@Url.Action("Comingsoon","Home")">
                <figure class="images"> <img src="~/Images/18.jpg" alt="" /> </figure>
                <div class="covering-image centered">
                    <div class="info-box-content">
                        <div class="parent">
                            <div class="child">
                                <h3>About us</h3>
                                <p class="uppercase"><img class="line-p" src="~/Images/headline.jpg" /></p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="element  clearfix col-lg-4 col-md-6 col-sm-6 col-xs-12 home norway">
        <div class="margin-wrapper">
            <a href="@Url.Action("Comingsoon","Home")">
                <figure class="images"> <img src="~/Images/property2.jpg" alt="" /> </figure>
                <div class="covering-image centered">
                    <div class="info-box-content">
                        <div class="parent">
                            <div class="child">
                                <h3>List your property</h3>
                                <p class="uppercase"><img class="line-p" src="~/Images/headline.jpg" /></p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="element  clearfix col-lg-4 col-md-6 col-sm-6 col-xs-12 home sweden">
        <div class="margin-wrapper">
            <a href="@Url.Action("Comingsoon","Home")">
                <figure class="images"> <img src="~/Images/14.jpg" alt="" /> </figure>
                <div class="covering-image centered">
                    <div class="info-box-content">
                        <div class="parent">
                            <div class="child">
                                <h3>Travelogist - The team</h3>
                                <p class="uppercase"><img class="line-p" src="~/Images/headline.jpg" /></p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="element  clearfix col-lg-4 col-md-6 col-sm-6 col-xs-12 home norway">
        <div class="margin-wrapper">
            <a href="@Url.Action("Comingsoon","Home")">
                <figure class="images"> <img src="~/Images/13.jpg" alt="" /> </figure>
                <div class="covering-image centered">
                    <div class="info-box-content">
                        <div class="parent">
                            <div class="child">
                                <h3>Booking Request</h3>
                                <p class="uppercase"><img class="line-p" src="~/Images/headline.jpg" /></p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="element  clearfix col-lg-4 col-md-6 col-sm-6 col-xs-12 home denmark">
        <div class="margin-wrapper">
            <a href="@Url.Action("Comingsoon","Home")">
                <figure class="images"> <img src="~/Images/17.jpg" alt="" /> </figure>
                <div class="covering-image centered">
                    <div class="info-box-content">
                        <div class="parent">
                            <div class="child">
                                <h3>Velvett Holidays</h3>
                                <p class="uppercase"><img class="line-p" src="~/Images/headline.jpg" /></p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="element  clearfix col-lg-4 col-md-6 col-sm-6 col-xs-12 home sweden">
        <div class="margin-wrapper">
            <a href="@Url.Action("Comingsoon","Home")">
                <figure class="images"> <img src="~/Images/15.jpg" alt="" /> </figure>
                <div class="covering-image centered">
                    <div class="info-box-content">
                        <div class="parent">
                            <div class="child">
                                <h3>Subscribe to newsletter</h3>
                                <p class="uppercase"><img class="line-p" src="~/Images/headline.jpg" /></p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="element  clearfix col-lg-4 col-md-6 col-sm-6 col-xs-12 home sweden">
        <div class="margin-wrapper">
            <a href="@Url.Action("Comingsoon","Home")">
                <figure class="images"> <img src="~/Images/19.jpg" alt="" /> </figure>
                <div class="covering-image centered">
                    <div class="info-box-content">
                        <div class="parent">
                            <div class="child">
                                <h3>Contact us</h3>
                                <p class="uppercase"><img class="line-p" src="~/Images/headline.jpg" /></p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>

